<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881177570924-okrajlolmu93qot9u8ss2m2hhoa7rat0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881177570924-okrajlolmu93qot9u8ss2m2hhoa7rat0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881177570924-ia3htvunfmls25sle33qrcql92l40c20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyBMsTvhun-d1a8KyJ70VbG8k1C83tB8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>881177570924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking</string>
	<key>PROJECT_ID</key>
	<string>notifications-b1072</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-b1072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881177570924:ios:8511846fe432f53cb03249</string>
</dict>
</plist>