<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171608628367-pmqescfrki81fpr3begm8pbmlpb4pl6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171608628367-pmqescfrki81fpr3begm8pbmlpb4pl6e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171608628367-b8g57f720crmb6u27llvfnh2cnbc4sn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_kz8cd4VhKE3Qa4v34AZ8jXj9wmPRNQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>171608628367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking</string>
	<key>PROJECT_ID</key>
	<string>notifications-16f19</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-16f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171608628367:ios:ccd5d36fcb7899f388e4fa</string>
</dict>
</plist>