<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209628280743-6drdd5a172c5dolb5r70lp2sem8vhj1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209628280743-6drdd5a172c5dolb5r70lp2sem8vhj1l</string>
	<key>API_KEY</key>
	<string>AIzaSyAwzfKe0T2QBHuDjly0v5fCIm1I4JNtmDM</string>
	<key>GCM_SENDER_ID</key>
	<string>209628280743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking</string>
	<key>PROJECT_ID</key>
	<string>hotel-booking-36f6e</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-booking-36f6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209628280743:ios:65098f636998b04113a882</string>
</dict>
</plist>